@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700");
/* --- Colors --- */
/* --- Fonts --- */
/* --- Mixins --- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto; }

body {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  line-height: 1.618;
  color: #1e2022;
  z-index: 0; }
  @media only screen and (min-width: 375px) {
    body {
      font-size: 16px; } }
  @media only screen and (min-width: 414px) {
    body {
      font-size: 18px; } }

a {
  text-decoration: none;
  color: inherit; }

code {
  background: rgba(0, 0, 0, 0.05);
  padding: 3px 6px;
  border-radius: 4px;
  font-family: "IBM Plex Mono", monospace; }

ul,
li {
  list-style-position: inside; }

h1,
h2 {
  font-family: "Libre Baskerville", serif; }

h1 {
  font-size: 3em; }

button {
  cursor: pointer;
  color: inherit;
  border: none; }
  button:focus {
    outline: 0; }

::selection {
  background: yellow; }

.site {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  @media only screen and (min-width: 710px) {
    .site {
      display: grid;
      grid-template-columns: 60% 40%; } }

.profile {
  position: relative; }

.profile--text {
  margin-top: 1rem; }

.profile--links {
  margin-top: 1rem; }

.link--mail {
  position: absolute;
  bottom: 2.5rem; }

.nav {
  position: fixed;
  transform: translateX(100%); }

.nav--active {
  transform: translateX(0); }

.nav__open {
  position: absolute;
  left: -2rem;
  top: 8vh; }

.nav__close {
  position: absolute;
  right: 2rem;
  top: 8vh; }

.contact-links {
  margin-top: 1rem; }

/* -- Mobile Navigation -- */
.nav {
  width: 100vw;
  height: 100vh;
  background: white;
  color: #1e2022;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (min-width: 750px) {
    .nav {
      display: none; } }

.nav__open {
  position: absolute;
  width: 2rem;
  height: 5rem;
  background: #435ef6;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }

.nav__close {
  color: #435ef6;
  background: none; }

.nav__links {
  font-family: "Libre Baskerville", serif;
  font-size: 2rem;
  list-style: none; }

.nav__link {
  position: relative;
  margin-bottom: 1rem; }
  .nav__link:last-child {
    margin-bottom: 0; }
  .nav__link:after {
    position: absolute;
    content: "";
    height: 1rem;
    width: 100%;
    background: #d9dffd;
    left: -0.5rem;
    bottom: 0.5rem;
    z-index: -1;
    transform: scaleX(0.3);
    transform-origin: left; }
  .nav__link:hover:after {
    transform: scaleX(1); }

/* -- Desktop Navigation -- */
.profile {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem; }
  @media only screen and (min-width: 670px) {
    .profile {
      width: 100%;
      height: 100%; } }

.profile--text {
  width: 80%; }

.profile--intro {
  line-height: 1.2; }

.profile--link {
  list-style: none; }

.link {
  background: #d9dffd; }

.link--active {
  font-weight: 700; }

.link--mail {
  font-size: 0.9rem; }

.contact-links {
  list-style: none; }
