@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700");
/* --- Colors --- */
/* --- Fonts --- */
/* --- Mixins --- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto; }

body {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  line-height: 1.618;
  color: #1e2022;
  z-index: 0; }
  @media only screen and (min-width: 375px) {
    body {
      font-size: 16px; } }
  @media only screen and (min-width: 414px) {
    body {
      font-size: 18px; } }
  @media only screen and (min-width: 2560px) {
    body {
      font-size: 24px; } }

a {
  text-decoration: none;
  color: inherit; }

code {
  background: rgba(0, 0, 0, 0.05);
  padding: 3px 6px;
  border-radius: 4px;
  font-family: "IBM Plex Mono", monospace; }

ul,
li {
  list-style-position: inside; }

h1,
h2 {
  font-family: "Libre Baskerville", serif;
  color: #373836;
  line-height: 1; }

h1 {
  font-size: 3em; }

button {
  background: none;
  cursor: pointer;
  color: inherit;
  border: none; }
  button:focus {
    outline: 0; }

::selection {
  background: yellow; }

.site {
  width: 100vw;
  height: 100vh; }
  @media only screen and (min-width: 650px) {
    .site {
      display: grid;
      grid-template-columns: 1fr 80% 1fr;
      grid-template-rows: 1fr 2rem 60% 2rem 1fr; } }

@media only screen and (min-width: 650px) {
  .site--projects {
    height: auto;
    min-height: 100vh;
    display: block; } }

.nav {
  background: #1e2022;
  width: 100vw;
  height: 100vh;
  font-family: "Libre Baskerville", serif;
  font-size: 2rem;
  color: white;
  transition: transform 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (min-width: 650px) {
    .nav {
      width: auto;
      height: auto;
      background: none;
      color: #373836;
      font-family: "Work Sans", sans-serif;
      font-size: 1rem;
      grid-column: 2;
      grid-row: 1;
      justify-self: end;
      align-self: end; } }

@media only screen and (min-width: 650px) {
  .nav--projects {
    width: 100vw;
    height: auto;
    padding: 1rem 0;
    background: rgba(255, 255, 255, 0.9);
    color: #373836;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    align-self: end;
    box-shadow: 2px 12px 30px 4px rgba(0, 0, 0, 0.05), 3px 8px 5px rgba(0, 0, 0, 0.03), 2px 3px 4px -2px rgba(0, 0, 0, 0.08), 0px 75px 70px -50px rgba(10, 20, 50, 0.12), 0px -5px 5px 0px white; } }

.nav__links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  @media only screen and (min-width: 650px) {
    .nav__links {
      flex-direction: row;
      justify-content: flex-start; }
      .nav__links > * {
        margin-right: 1rem; }
        .nav__links > *:last-child {
          margin-right: 0; } }

@media only screen and (min-width: 650px) {
  .nav__link {
    background: none;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem; }
    .nav__link:hover {
      color: #435ef6; } }

.nav__link--active {
  background: #373836; }
  @media only screen and (min-width: 650px) {
    .nav__link--active {
      background: #435ef6;
      color: white;
      box-shadow: 2px 12px 30px 4px rgba(0, 0, 0, 0.05), 3px 8px 5px rgba(0, 0, 0, 0.03), 2px 3px 4px -2px rgba(0, 0, 0, 0.08), 0px 75px 70px -50px rgba(10, 20, 50, 0.12), 0px -5px 5px 0px white; } }

.btn--nav {
  background: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 2px 12px 30px 4px rgba(0, 0, 0, 0.05), 3px 8px 5px rgba(0, 0, 0, 0.03), 2px 3px 4px -2px rgba(0, 0, 0, 0.08), 0px 75px 70px -50px rgba(10, 20, 50, 0.12), 0px -5px 5px 0px white; }

.btn--nav--close {
  background: #373836;
  box-shadow: none; }

.link {
  background: #d9dffd; }

.link--info {
  position: relative; }
  .link--info:hover:after {
    content: attr(data-info);
    position: absolute;
    background: #f2f2f2;
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    bottom: -180%;
    left: 0; }

.profile__links {
  color: #435ef6;
  margin-top: 1rem; }
  .profile__links > * {
    margin-right: 0.5rem; }
    .profile__links > *:last-child {
      margin-right: 0; }

.content {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (min-width: 650px) {
    .content {
      grid-column: 2;
      grid-row: 3;
      box-shadow: 2px 12px 30px 4px rgba(0, 0, 0, 0.05), 3px 8px 5px rgba(0, 0, 0, 0.03), 2px 3px 4px -2px rgba(0, 0, 0, 0.08), 0px 75px 70px -50px rgba(10, 20, 50, 0.12), 0px -5px 5px 0px white; } }

.content__text {
  margin-top: 1rem; }
  .content__text > * {
    margin-top: 0.5rem; }
    .content__text > *:first-child {
      margin-top: 0; }

.info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }
  @media only screen and (min-width: 650px) {
    .info {
      width: 70%;
      height: auto; } }

.about {
  display: none; }

.contact {
  display: none; }

.content--active {
  display: flex; }

.project {
  margin-top: 4rem; }
  .project > * {
    margin-bottom: 2rem; }
    .project > *:last-child {
      margin-bottom: 0; }
  @media only screen and (min-width: 1024px) {
    .project {
      display: flex;
      align-items: center; } }

.project__img {
  width: 100%;
  height: 12rem;
  background: #f2f2f2;
  border-radius: 1rem; }
  @media only screen and (min-width: 1024px) {
    .project__img {
      margin-bottom: 0;
      margin-right: 2rem;
      flex: 2; } }

.project__info > * {
  margin-bottom: 1rem; }
  .project__info > *:last-child {
    margin-bottom: 0; }

@media only screen and (min-width: 1024px) {
  .project__info {
    flex: 3; } }

.project__stack {
  display: flex;
  flex-wrap: wrap; }

.project__tech {
  background: #f2f2f2;
  padding: 0.2rem 0.4rem;
  border-radius: 1em;
  font-size: 0.95rem;
  margin-right: 0.5em;
  margin-bottom: 0.5em; }
  .project__tech:last-child {
    margin-right: 0; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%); }
  @media only screen and (min-width: 650px) {
    .nav {
      transform: translateX(0);
      position: relative; } }

.nav--active {
  transform: translateX(0); }

.btn--nav {
  position: fixed;
  top: 10vh;
  right: 10vw; }
  @media only screen and (min-width: 650px) {
    .btn--nav {
      display: none; } }

.nav--projects {
  position: fixed;
  top: 0; }

.projects {
  display: block;
  padding: 30vh 0 20vh 0; }
  @media only screen and (min-width: 650px) {
    .projects {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
      min-height: 100vh; } }

@media only screen and (min-width: 650px) {
  .info--projects {
    width: 100%;
    grid-column: 2; } }

@media only screen and (min-width: 650px) {
  .project__intro {
    width: 70%; } }
