.link {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    background: $secondary-200;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    z-index: -1;
  }
  &:hover {
    &:before {
      animation: slide-right 0.5s ease-out;
    }
  }
}

.link--info {
  position: relative;
  &:hover {
    &:after {
      content: attr(data-info);
      position: absolute;
      background: $main-200;
      padding: 0.2rem 0.4rem;
      border-radius: 0.5rem;
      font-size: 0.9rem;
      bottom: -180%;
      left: 0;
    }
  }
}

.link--git {
  &:hover {
    color: $secondary;
  }
}

@keyframes slide-right {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
