.link {
  position: relative;
  color: $secondary;
  &:hover {
    color: $secondary-600;
  }
}

.link--info {
  position: relative;
  &:hover {
    &:after {
      content: attr(data-info);
      position: absolute;
      background: $main-200;
      padding: 0.2rem 0.4rem;
      border-radius: 0.5rem;
      font-size: 0.9rem;
      bottom: -180%;
      left: 0;
    }
  }
}

.link--git {
  &:hover {
    color: $secondary;
  }
}

@keyframes slide-right {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
