.nav {
  background: $c-body;
  width: 100vw;
  height: 100vh;
  font-family: $f-head;
  font-size: 2rem;
  color: white;
  transition: transform 0.5s ease;
  @include center-contents;
  @include respond-to(650px) {
    width: auto;
    height: auto;
    background: none;
    color: $c-head;
    font-family: $f-body;
    font-size: 1rem;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    align-self: end;
  }
}

.nav--projects {
  @include respond-to(650px) {
    width: 100vw;
    height: auto;
    padding: 1rem 0;
    background: rgba(255, 255, 255, 0.9);
    color: $c-head;
    font-family: $f-body;
    font-size: 1rem;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    align-self: end;
    @include std-shadow;
  }
}

.nav__links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include respond-to(650px) {
    flex-direction: row;
    justify-content: flex-start;
    > * {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.nav__link {
  @include respond-to(650px) {
    background: none;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
    &:hover {
      color: $secondary;
    }
  }
}

.nav__link--active {
  background: $c-head;
  @include respond-to(650px) {
    background: $secondary;
    color: white;
    @include std-shadow;
  }
}
