.nav {
  width: 100vw;
  height: 100vh;
  background: white;
  @include center-contents;
}

.nav__open {
  position: absolute;
  width: 2rem;
  height: 5rem;
  background: white;
  color: $c-body-s;
  @include center-contents;
}

.nav__close {
  color: $c-body-s;
  background: none;
}

.nav__links {
  font-family: $f-head;
  font-size: 2rem;
  list-style: none;
}

.nav__link {
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}
