.profile {
  color: white;
  background: $c-body-s;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
}

.profile--text {
  width: 80%;
}

.profile--intro {
  line-height: 1.2;
}

.profile--link {
  list-style: none;
}
