.project {
  margin-top: 4rem;
  @include child-margins(2rem);
}

.project__img {
  width: 100%;
  height: 12rem;
  background: $main-200;
  border-radius: 1rem;
}

.project__info {
  @include child-margins(1rem);
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
}

.project__tech {
  background: $main-200;
  padding: 0.2rem 0.4rem;
  border-radius: 1em;
  font-size: 0.95rem;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  &:last-child {
    margin-right: 0;
  }
}
