.nav {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  @include respond-to(650px) {
    transform: translateX(0);
    position: relative;
  }
}

.nav--active {
  transform: translateX(0);
}

.btn--nav {
  position: fixed;
  top: 10vh;
  right: 10vw;
  @include respond-to(650px) {
    display: none;
  }
}
