.content--project {
  display: block;
  padding: 30vh 2rem 15vh 2rem;
  @include respond-to(650px) {
    min-height: 100vh;
    padding: 30vh 0 20vh 0;
  }
}

.info--project {
  @include child-margins(2rem);
  pre {
    margin-bottom: 2rem;
  }
  @include respond-to(650px) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3rem 60% 3rem 1fr;
    > * {
      grid-column: 3;
    }
    pre {
      grid-column: 2 / 5;
    }
  }
  @include respond-to(1024px) {
    grid-template-columns: 1fr 3rem 40rem 3rem 1fr;
  }
}

.info__media {
  grid-column: 2 / 5;
}

figure {
  grid-column: 2 / 5;
}

.project-buttons {
  position: fixed;
  top: 10vh;
  right: 10vw;
}
