a {
  text-decoration: none;
  color: inherit;
}

pre {
  max-width: 100%;
  overflow-x: scroll;
}

code {
  background: rgba(0, 0, 0, 0.05);
  padding: 3px 6px;
  border-radius: 4px;
  font-family: $f-mono;
}

ul,
li {
  list-style-position: outside;
}

h1,
h2 {
  font-family: $f-head;
  color: $c-head;
  line-height: 1;
}

h1 {
  font-size: 3em;
}

h2 {
  margin-top: 3rem;
}

button {
  background: none;
  cursor: pointer;
  color: inherit;
  border: none;
  &:focus {
    outline: 0;
  }
}

img,
video {
  width: 100%;
  height: auto;
}

::selection {
  background: yellow;
}
