@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700");

/* --- Colors --- */

$c-head: #373836;
$c-body: #1b2733;

$main: $c-body;
$main-200: #f2f2f2;
$main-400: #c7c7c7;

$secondary: #435ef6;
$secondary-200: #d9dffd;
$secondary-600: #0a2adb;

/* --- Fonts --- */

//$f-head: "Montserrat", sans-serif;
$f-body: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$f-head: $f-body;
$f-mono: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

$f-size-base: 14px;

/* --- Mixins --- */

@mixin respond-to($breakpoint) {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin center-contents() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center-self($abs) {
  position: $abs;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin std-shadow() {
  box-shadow: 2px 12px 30px 4px rgba(0, 0, 0, 0.05),
    3px 8px 5px rgba(0, 0, 0, 0.03), 2px 3px 4px -2px rgba(0, 0, 0, 0.08),
    0px 75px 70px -50px rgba(10, 20, 50, 0.12), 0px -5px 5px 0px white;
}

@mixin child-margins($margin) {
  > * {
    margin-bottom: $margin;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
